
#list {
  display: grid;
  place-content: center;
}

.list-item {
  margin-left: 40%;
  margin-top: 20px;
  cursor: pointer;
  }
  
  .list-item:hover {
    color: red;
    text-decoration: line-through;
  }
button {
  margin-top: 100px;
}
  #modal {
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 1rem;
    border-radius: .25rem;
    background-color: white;
  }
  
  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
  }
  #modal.open {
    display: block;
  }

  #overlay.open {
    display: block;
  }